<!DOCTYPE html>

<html>

<head>
    <title>Recorder Records</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='img/rr.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

</head>

<body>

    <main role="main" class="container extra-bottom">
        <h1 class="mt-5">Recorder Records</h1>
        <p><mark>Get those belts!</mark></p>
        <div class="topnav">
            <!-- <a class="active" action ="Search" name = "q" a> -->
        <input type="text" id="search-bar2" placeholder="Name">
        <!--<button type = "submit" id="search-button2" class = "btn btn-primary"> Search</button>-->

        <input type="text" id="search-bar3" placeholder="Period">
        <!--<button type = "submit" id="search-button3" class = "btn btn-primary"> Search</button>-->

        <input type="text" id="search-bar4" placeholder="Belt">
        <!--<button type = "submit" id="search-button4" class = "btn btn-primary"> Search</button>-->

        <input type="text" id="search-bar5" placeholder="Song">
        <button type = "submit" id="search-button5" class = "btn btn-primary"> Search</button>
        </div>
    </main>


    <div class="container">

        <!-- Button trigger modal -->
        <div style="text-align: right;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                data-bs-target="#new-task-modal" data-source="New Task">Add Student</button>
        </div>

        <div style="text-align: right;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                data-bs-target="#advanced-modal" data-source="Advanced Query">Run Advanced Query</button>
        </div>

        <div class="modal fade" id="advanced-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">Teachers Who Have Students with Black Belts</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="container table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="task-id">Name</th>
                                        <th class="task">Num Black Belts</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for teacher in teachers %}
                                    <tr>
                                        <td>{{teacher.name}}</td>
                                        <td>{{teacher.num_black_belts}}</td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="new-task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">Add a task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">First Name</span>
                            <input type="text" class="form-control1" placeholder="First name of student"
                                aria-label="first-name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Last Name</span>
                            <input type="text" class="form-control2" placeholder="Last name of student"
                                aria-label="last-name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Class Period</span>
                            <input type="text" class="form-control3" placeholder="Student's class period"
                                aria-label="student-class-period" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Belt</span>
                            <input type="text" class="form-control4" placeholder="Current Belt"
                                aria-label="student-belt" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Teacher ID</span>
                            <input type="text" class="form-control5" placeholder="Student's teacher"
                                aria-label="student-teacher-id" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="new-submit-task" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">Add a task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">First Name</span>
                            <input type="text" class="form-control1" placeholder="New First Name"
                                aria-label="task-name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Last Name</span>
                            <input type="text" class="form-control2" placeholder="New Last Name"
                                aria-label="task-name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Class Period</span>
                            <input type="text" class="form-control3" placeholder="New Class Period"
                                aria-label="task-name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Belt</span>
                            <input type="text" class="form-control4" placeholder="New Belt"
                                aria-label="task-name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="submit-task" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Todo Table-->
    <div class="container table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="update">Remove</th>
                    <th class="task-id">Name</th>
                    <th class="period">Class Period</th>
                    <th class="task">Belt</th>
                    <th class="song">Song</th>
                    <th class="submit-task">Edit</th>
                    <th class="update">GRADE</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}"
                        type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>

                    <td>{{item.name}}</td>
                    <td>{{item.period}}</td>
                    <td>{{item.task}}</td>
                    <td>{{item.song}}</td>

                    <!--Edit Button-->
                    <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                            data-bs-target="#task-modal" data-source="{{item.id}}" data-content="{{item.name}}"><i
                                class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>

                    <!--Grade Button-->

                    <td><button type="button" class="btn btn-outline-success btn-sm state" data-source="{{item.id}}">SUCCESS!</button></td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>

<script>
    $(document).ready(function() {
        console.log('ho')
        $('#search-button5').click(function() {
            $.ajax({
                type: 'POST',
                url: '/search/' + $('#search-bar2').val() + "_" + $('#search-bar3').val() + "_" + $('#search-bar4').val() + "_" + $('#search-bar5').val()+'/',
                contentType: 'application/json;charseet=UTF-8',
                success: function(res) {
                    $("#search-bar5").html(res.body);
                    location.reload();
                },

            })
        })
    })
</script>

</html>